<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestSuite" thread-count="6" parallel="classes">
    <test name="groupingtest">
        <groups>
            <run>
                <include name=".*End" />
            </run>
        </groups>

        <classes>
            <class name="CheckboxTests">
                <methods>
                    <include name="testUncheckCheckbox" /> <!-- Add the test method to include retry logic -->
                </methods>
            </class>
            <class name="RadioButtonTests">
                <methods>
                    <include name="testSelectYesOption" /> <!-- Add the test method to include retry logic -->
                </methods>
            </class>
        </classes>
    </test>

    <test name="newGroupTest">
        <groups>
            <run>
                <include name="newGroup" />
            </run>
        </groups>

        <classes>
            <class name="CheckboxTests">
                <methods>
                    <include name="testUncheckCheckbox" /> <!-- Add the test method to include retry logic -->
                </methods>
            </class>
            <class name="RadioButtonTests">
                <methods>
                    <include name="testSelectYesOption" /> <!-- Add the test method to include retry logic -->
                </methods>
            </class>
        </classes>
    </test>
</suite>
